h1 {
  font-family: 'Cabin Sketch', 'Caveat', 'Dancing Script', cursive, sans-serif;
}

h2, h3 {
  font-family: 'Caveat', 'Dancing Script', cursive, sans-serif;
}

h1, h2, h3 {
  font-weight: 700;
  -webkit-transition: color 2s ease-in-out;
  transition: color 2s ease-in-out;
}

h1:hover, h2:hover, h3:hover {
  color: #000000!important;
}

.auteurImageDonjon {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.site {
  min-height: 100vh;
  margin-bottom: -50px;
}

footer, .minSite {
  height: 50px;
}

/* h1, h2, h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
*/

/* 
.policeTitreH1 {
  font-family: 'Boogaloo', cursive;
}

.policeTitreH1:hover {
  color: #20024F!important;
}
 */
